In [1]:
from blaze import *

In [2]:
t = Data('mysql+pymysql://root:root@localhost:3306/quixotic_etl')

_1.event.head(5)

In [5]:
t.event.head(5)

,id,start,end,title,detail,tags,features,relevant,user_id
0,1,2015-11-24 16:12:29,NaT,test 3\n,Zach Carwile <Zachary.carwile@gmail.com>,Email,1513b573386dbd08,None,0
1,2,2015-11-09 00:00:00,2015-11-12 00:00:00,PyData\n,None,Calendar,_8l2kachh6934aba46h238b9k8l0j8b9o74rjcba371232...,None,0
2,3,2015-11-11 15:30:00,2015-11-11 16:00:00,Continuum Meet-up\n,None,Calendar,2jornnkmg32mrniobvsl7i2f8g,None,0
3,4,2015-11-12 10:00:00,2015-11-12 10:15:00,Sales & Implementation Engineering Standup\n,Duane Lawrence,Calendar,o2laatlkgkoi3ct1s12ns17q58_20151112T150000Z,None,0
4,5,2015-11-12 11:30:00,2015-11-12 12:30:00,Amex/Concur Travel Training\n,None,Calendar,80c3rg67va1uu4ajps9hoo168o,None,0