Connect to our data using Blaze (ultimately we need the control of MySQL though :( )

In [1]:
from blaze import *

In [2]:
t = Data('mysql+pymysql://root:root@localhost:3306/quixotic_etl')

In [3]:
t.event.head(5)

,id,start,end,title,detail,tags,features,relevant,user_id
0,1,2015-11-24 16:12:29,NaT,test 3\n,Zach Carwile <Zachary.carwile@gmail.com>,Email,1513b573386dbd08,None,0
1,2,2015-11-09 00:00:00,2015-11-12 00:00:00,PyData\n,None,Calendar,_8l2kachh6934aba46h238b9k8l0j8b9o74rjcba371232...,None,0
2,3,2015-11-11 15:30:00,2015-11-11 16:00:00,Continuum Meet-up\n,None,Calendar,2jornnkmg32mrniobvsl7i2f8g,None,0
3,4,2015-11-12 10:00:00,2015-11-12 10:15:00,Sales & Implementation Engineering Standup\n,Duane Lawrence,Calendar,o2laatlkgkoi3ct1s12ns17q58_20151112T150000Z,None,0
4,5,2015-11-12 11:30:00,2015-11-12 12:30:00,Amex/Concur Travel Training\n,None,Calendar,80c3rg67va1uu4ajps9hoo168o,None,0

In [4]:
t.event.start.min()

datetime.datetime(2015, 11, 6, 9, 0)

In [5]:
t.event.start.max()

datetime.datetime(2015, 11, 24, 16, 12, 29)

In [6]:
t.event.count()

902

In [7]:
by(t.event.start,count=t.event.id.count())

                 start  count
0  2015-11-06 09:00:00      7
1  2015-11-06 10:00:00      2
2  2015-11-06 11:00:00     13
3  2015-11-06 12:00:00      6
4  2015-11-06 13:00:00      9
5  2015-11-06 14:00:00     16
6  2015-11-06 15:00:00      4
7  2015-11-06 16:00:00      5
8  2015-11-06 17:00:00      4
9  2015-11-06 18:00:00      1
...

In [8]:
# ISSUES with Blaze
# 1. Parsing date down to hour?
# 2. WHERE clause on a text field?

# Just roll with it and parse the date in Python, I guess

In [9]:
t.events_by_hour

    event_count           event_hour
0             7  2015-11-06 09:00:00
1             2  2015-11-06 10:00:00
2            13  2015-11-06 11:00:00
3             6  2015-11-06 12:00:00
4             9  2015-11-06 13:00:00
5            16  2015-11-06 14:00:00
6             4  2015-11-06 15:00:00
7             5  2015-11-06 16:00:00
8             4  2015-11-06 17:00:00
9             1  2015-11-06 18:00:00
...

Let's do some visualization!

In [ ]:
import bokeh

We need to make Bokeh aware of our data source

Then we can create a pretty bar graph

If we really get fancy, perhaps we can add a date selector!